@import "tailwindcss";

@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Roboto+Condensed:wght@300;700&display=swap');

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 915px; 
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --font-roboto: "Roboto Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body, #root {
    width: 100%;
    height: 100%;
  }
}